<!DOCTYPE html>
<html>
  <head>
    <title>슉이슉이</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <style>
      body { background-color: #000; color: #777; margin: 10px; font-size: 16px; }
      #progress { position: absolute; top: 0; left: 0; padding: 5px; margin-top:10px;}
      #hint { position: absolute; top: 0; right: 0; padding: 5px; margin-top:10px; cursor:pointer}
      #ranking { position: absolute; bottom: 0; left: 0; padding: 5px; cursor: pointer; }
      #elapsed_time { position: absolute; bottom: 0; right: 0; padding: 5px;}
      #hint.on { color: #aa22af; }
      svg, circle { pointer-events: none; }
      a { color: #77f; text-decoration: none; }
      #dots { position: absolute; top: 50%; left: 50%; }
      #dots img { padding: 4px; background-color: #ecf0f1; border-radius: 6px; }
      ::selection { background-color: transparent; }
      * { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
    </style>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="/koala.js"></script>
    <script src="/jquery.runner-min.js"></script>
    <script>
      var img;
      var playing = false;
      var n, maxN = 5, lastN = -1;

      function update(msg) {
        if (!playing) return;
        document.getElementById('progress').innerHTML = msg;
      }

      function startGame() {
        $('#runner').runner('start');
        playing = true;
        while (true) { n = Math.floor(Math.random() * maxN); if (maxN <= 1 || lastN != n) break; }
        $('#dots').empty();
        img = new Image();
        img.onload = function() { makeCircles(loadImage(this), update); };
        img.src = '/img/' + n + '.jpg';
        img.src = '/img/' + "2" + '.jpg';
        lastN = n;
        $('#hint').addClass('on');
      }

      function endGame() {
        $('#runner').runner('stop');
        update("100%");
        playing = false;

        var dots = document.getElementById('dots');
        img.width = dots.offsetWidth;
        img.height = dots.offsetHeight;
        $(dots).empty().append(img);
        name = prompt("이름을 입력해주슉","가쟤는계편");
        elapsed_time = $('#runner').runner('info').time
        csrfValue = $("meta[name='csrf-token']").attr('content');

        $.ajax({
          method: "POST",
          url: "/home/submit_rank",
          data: { name: name, elapsed_time: elapsed_time, authenticity_token: csrfValue }
        }).done(function(msg) {
          alert(msg + "등 입니다!")
        });
      }

      window.onload = function() {
        $('#runner').runner();
        $('html, body').css({'overflow': 'hidden', 'height': '100%' });
        startGame();
        $('#hint').on('click touchstart', function () {
          $(this).toggleClass('on');
          if ($(this).hasClass('on')){
            d3.select('div#dots').selectAll('circle').filter(function(e) { if (!e.isSplitable()) return e; }).attr('fill-opacity', 1.0);
            d3.select('div#dots').selectAll('circle').filter(function(e) { if (e.isSplitable()) return e; }).attr('fill-opacity', 0.5);
          }else{
            d3.select('div#dots').selectAll('circle').filter(function(e) { return e; }).attr('fill-opacity', 1.0);
          }
        });
      };
    </script>
  </head>

  <body>
    <div id="dots"></div>
    <div id="progress"></div>
    <div id="hint">HINT!</div>
    <div id="ranking">RANKING</div>
    <div id="elapsed_time"><span id="runner"></span></div>
  </body>
</html>

