<!DOCTYPE html>
<html>
  <head>
    <title>슉이슉이</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="슉이슉이" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="오다가 주웠다" />
    <meta property="og:url" content="http://jisook.net/" />
    <meta property="og:image" content="http://jisook.net/logo.jpg" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

    <style>
      body { background-color: #000; color: #777; margin: 10px; font-size: 16px; }
      #progress { position: absolute; top: 0; left: 0; padding: 5px; margin-top:5px;}
      #hint { position: absolute; top: 0; right: 0; padding: 5px; margin-top:5px; cursor:pointer}
      #ranking { position: absolute; bottom: 0; right: 0; padding: 5px; cursor: pointer}
      #elapsed_time { position: absolute; bottom: 0; left: 0; padding: 5px;}
      #hint.on { color: #aa22af; }
      svg, circle { pointer-events: none; }
      a { color: #77f; text-decoration: none; }
      #dots { position: absolute; top: 50%; left: 50%; }
      #dots img { padding: 4px; background-color: #ecf0f1; border-radius: 6px; }
      ::selection { background-color: transparent; }
      * { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
    </style>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="/koala.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/jquery.runner-min.js"></script>
    <script>
      var img;
      var playing = false;
      var n, maxN = 5, lastN = -1;

      function update(msg) {
        if (!playing) return;
        document.getElementById('progress').innerHTML = msg;
      }

      function startGame() {
        $('#runner').runner('start');
        playing = true;
        while (true) { n = Math.floor(Math.random() * maxN); if (maxN <= 1 || lastN != n) break; }
        $('#dots').empty();
        img = new Image();
        img.onload = function() { makeCircles(loadImage(this), update); };
        img.src = '/img/' + n + '.jpg';
        img.src = '/img/' + "2" + '.jpg';
        lastN = n;
        $('#hint').addClass('on');
      }

      function endGame() {
        $('#runner').runner('stop');
        elapsed_time = $('#runner').runner('info').time
        csrfValue = $("meta[name='csrf-token']").attr('content');
        update("100%");
        playing = false;

        var dots = document.getElementById('dots');
        img.width = dots.offsetWidth;
        img.height = dots.offsetHeight;
        $(dots).empty().append(img);
        ranker_name = prompt("완성했슉!\n이름을 입력해주슉","가쟤는계편");

        if (ranker_name != null) {
          $.ajax({
            method: "POST",
            url: "/home/submit_rank",
            data: { ranker_name: ranker_name, elapsed_time: elapsed_time, authenticity_token: csrfValue }
          }).done(function(msg) {
            alert(msg + "등 입니다!")
          });
        }
      }

      window.onload = function() {
        $('#runner').runner();
        //$('html, body').css({'overflow': 'hidden', 'height': '100%' });
        startGame();
        $('#open_modal').on('click', function () { 
          $.ajax({
            method: "GET",
            url: "/home/ranking"
          }).done(function(msg) {
            $("#rankers").html("")
            $("#rankers").append("<thead><tr><th>걸린시간</th><th>이름</th><th>날짜</th></tr></thead>")
            for(var i=0;i<msg.length;i++){
              $("#rankers").append(
      "<tr>" + 
        "<td>" + msg[i]['elapsed_time'] + "</td>" + 
        "<td>" + msg[i]['ranker_name'] + "</td>" + 
        "<td>" + msg[i]['created_at'] + "</td>" +
      "</tr>"
              );
            }
          });
          
        });
        $('#open_modal').on('touchstart', function () { $('#open_modal').click(); });
        $('#close_modal').on('touchstart', function () { $('#close_modal').click(); });
        $('#close_modal2').on('touchstart', function () { $('#close_modal2').click(); });

        $('#hint').on('click touchstart', function () {
          $(this).toggleClass('on');
          if ($(this).hasClass('on')){
            d3.select('div#dots').selectAll('circle').filter(function(e) { if (!e.isSplitable()) return e; }).attr('fill-opacity', 1.0);
            d3.select('div#dots').selectAll('circle').filter(function(e) { if (e.isSplitable()) return e; }).attr('fill-opacity', 0.5);
          }else{
            d3.select('div#dots').selectAll('circle').filter(function(e) { return e; }).attr('fill-opacity', 1.0);
          }
        });
      };
    </script>
  </head>

  <body>
    <div id="dots"></div>
    <div id="progress"></div>
    <div id="hint">HINT!</div>
    <div id="ranking"><span id="open_modal" data-toggle="modal" data-target="#myModal">랭킹확인</span></div>
    <div id="elapsed_time"><span id="runner"></span></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id="close_modal2" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">랭킹</h4>
          </div>
          <div class="modal-body">
              <div class="panel panel-default">
                <table class="table table-striped" id="rankers">
                </table>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

